@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');

* {
  margin: 0;
}

#container {
  background-color: #e0f2fe;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr, 0.25fr;
    justify-items: center;
    align-items: center;
    height: 80vh;
    padding-top: 5vh;
  }
  
  #top-bar {
    background-color: #e0f2fe;
    justify-items: end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row: 1 / 1;
    grid-column: 1 / -1;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }

  label {
    display: inline-block;
    padding: 5px;
  }

  #gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row: 1 / 1 ;
    grid-column: 2 / 3;
    width: 400px;
    height: 400px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
  }


  #gameboard.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .cell {
    font-family: 'Fuzzy Bubbles', cursive;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    cursor: pointer;
    border: 1px solid #1b2f31;
  }

  .cell.winning-cell {
    background-color: #bae6fd;
  }
  
  .cell:nth-child(3n+1) {
    border-left: none;
  }
  
  .cell:nth-child(3n) {
    border-right: none;
  }
  
  .cell:nth-child(-n+3) {
    border-top: none;
  }
  
  .cell:nth-child(n+7) {
    border-bottom: none;
  }
  
  #bottom-bar {
    justify-items: end;
    align-self: center;
    grid-column: 2 / 2;
    grid-row: 1/ 1;
    justify-self: center;
    align-items: center;
  }

#console {
  color: #1b2f31;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-top: 5vh;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  justify-self: center;
  align-self: baseline;
}

/* Button Styles */

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #075985;
  color: #075985;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #075985;
  text-decoration: none;
  letter-spacing: 1px;
}

  .new-game {
    color: #1cc49d;
    background-color: #1b2f31;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8em;
    font-size: large;
    font-weight: 600;
  }

  #button-7 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-7 a {
    position: relative;
    left: 0;
    transition: all .35s ease-Out;
  }
  
  #dub-arrow {
    width: 100%;
    height: 100%;
    background: #bae6fd;
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
  }
  
  #button-7 img {
    background-color: #e0f2fe00;;
    width: 20px;
    height: auto;
  }
  
  #button-7:hover #dub-arrow {
    left: 0;
  }
  
  #button-7:hover a {
    left: 150px;
  }
  
  @media screen and (min-width:1000px) {
    h1 {
      font-size: 2.2em;
    }
  }

  #loader.hidden {
    display: none;
  }

  #loader {
    width: 48px;
    height: 48px;
    border: 3px solid black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 35%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  #loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #0284c7 transparent;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  #win-popup {
    display: flex;
    flex-direction: column;
    min-width: 25vw;
    min-height: 20vh;
    text-align: center;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    color: whitesmoke;
    font-family: 'Fuzzy Bubbles', cursive;
      /* Responsive font size using clamp() */
    font-size: clamp(1rem, 4vw, 2rem);
    background-color: #036aa1ad;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.534);
    width: 15vw;
    height: 20vh;
    border: 1px solid black;
    position: absolute;
    top: 40%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  
  #win-popup.off {
    display: none;
    transform: translate(-50%, -50%) scale(0.2);
  }
  
  #win-popup.on {
    display: flex;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    animation: show-popup 0.5s 1.5s forwards;
  }
  
  @keyframes show-popup {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.2);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  #arrow.on {
    position: relative;
    left: 55px;
    width: 40px;
    height: 40px;
    background-image: url('https://cdn-icons-png.flaticon.com/128/10186/10186781.png');
    background-size: cover;
    animation: moveArrow .2s infinite alternate;
  }

  #arrow.off {
    display: none
  }
  
  @keyframes moveArrow {
    0% {
      top: 0;
    }
  
    100% {
      top: 15px;
    }
  }